/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**********************/
/*Styling Begins Here */
/**********************/
/*Add this in later to make the active page stand out somehow
a:active {

}*/

/* Color Scheme 
#17252A(black)
#2B7478(darkest green) rgba(43, 116, 120, 1)
#3AAFA9 (lighter green)
#DEF2F1 (lightest green)
#FEFFFF (eggshell)
*/


/* Element specific CSS*/
/*other font option: Cinzel*/

body{
    font-size:1.2rem;
    max-width:800;
    width:800;
    font-family: Railway, Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    font-size: 4rem;
    color:#FEFFFF;
    text-shadow: 4px 8px 5px rgba(43, 116, 120, 1);
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}
p{
    border: .05rem solid #2b7478;
    color: #FEFFFF;
}
header{
    background-color: #2B7478;
    color:#FEFFFF;
    margin:0px auto;
    padding:5px;
}
main{
    background-color: #3AAFA9;
}
footer{
    background-color: #2B7478;
    margin: 0px auto;
}

/*Class Specific */
.navigation a{
    margin:10px 5px;
    color:#feffff;
    
}
.mainSection{
    width: 100%;
    background-color: #3AAFA9;
}
.mainImage{
    max-width:45%;
    display:inline-block;
    margin:10px;
    vertical-align: middle;
}
.mainInfo{
    max-width:50%;
    display:inline-block;
    width: 45%;
    margin: 10px auto;
    vertical-align: middle;
   height:400px;

}
.flexFun{
    display:flex;
    flex-direction: column;
}
.flexFun h2{
    flex-grow: 30%;
    margin: 1em;
    font-size: 2em;
}
.flexFun a {
    flex-grow: 20%;
    margin: 10px 35%;
    color: #FEFFFF;
    background-color: #2B7478;
    border: 2px solid #FEFFFF;

}
.flexFun p {
    flex-grow: 50%;
    margin: 1em;
    border: 0px solid black;
}
.portfolio{
    max-width:100%;
    width: 50%;
    /* display:flex;
    flex-flow: row wrap; */
    margin: 0px auto;
    margin-bottom: 10px auto;
    background-color: #3AAFA9;
    border-top: 2px solid #2B7478;
}
.portfolio div img{
    flex-grow: 1;
    margin: 10px auto;
    padding: 10px;
}
.portfolio div p{
    flex-grow: 1;
    margin: 10px auto;
    padding: 10px;
}

.containerImages{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    

}
.containerDescriptions{
    display:flex;
    flex-direction:row;
    flex-grow:1;

}
.footerMods{
    padding: 1em;
    line-height: 2em;
}
.footerMods a{
    margin: .25em;
    padding: 5px;
    background-color: #3AAFA9;
    border:.1em solid #FEFFFF;
    color: #FEFFFF
}

/* Very Specific */